<a href="https://colab.research.google.com/github/KalpitWalekar/Prepinsta/blob/main/Prepinsta_Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Hello Everyone
So this project is about data cleaning through pandas, we have imported this dataset through the drive.

#**Part-1**

Importing libraries and Mounting Drive

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount("/content/gdrive", force_remount= True)

Mounted at /content/gdrive

In [12]:
file_path = "/content/gdrive/My Drive/python_docs/Prepinsta_week3_1.csv"
doc = pd.read_csv(file_path)
print(doc)

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

Describing the primary dataset excluding the null values.

In [3]:
doc.describe()

           Index        Age     Rating  Established
count  29.000000  22.000000  28.000000    29.000000
mean   14.000000  39.045455   3.528571  1638.620690
std     8.514693  16.134781   2.825133   762.079599
min     0.000000  13.000000  -1.000000    -1.000000
25%     7.000000  25.000000   1.050000  1935.000000
50%    14.000000  39.500000   4.200000  1984.000000
75%    21.000000  50.000000   5.400000  1999.000000
max    28.000000  66.000000   7.800000  2020.000000

Using basic head, tail and sample functions to explore the dataset.

In [4]:
head = doc.head(3)
tail = doc.tail(3)
sam = doc.sample(3)
print("Head")
print(head)
print("Tail")
print(tail)
print("Sample")
print(sam)

Head
   Index   Age     Salary  Rating     Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4     India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5  New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0  New York,Ny           -1         -1
Tail
    Index   Age     Salary  Rating       Location  Established Easy Apply
26     26   NaN  $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0  $44k-$99k     5.4       India,In         1935         -1
28     28   NaN  $39k-$88k     3.4  Australia Aus         1932         -1
Sample
    Index   Age     Salary  Rating     Location  Established Easy Apply
8       8  35.0  $44k-$99k     5.4  New York,Ny           -1         -1
11     11  44.0  $10k-$49k     6.7     India,In         2009         -1
3       3  64.0  $44k-$99k     4.4     India In         1988         -1

##Cleaning the dataset Column by Column (As the dataset is small)

Dropping the index column as we already have indexing.

In [13]:
doc.columns=doc.columns.str.lower().str.replace(" ","_")
doc2 = doc.drop("index",axis='columns')

In [14]:
mean_age=doc2['age'].mean()

In [15]:
doc.dtypes
doc2.dtypes

age            float64
salary          object
rating         float64
location        object
established      int64
easy_apply      object
dtype: object

Here I have used mean age to replace the missing value, as mean is less sensitive to outliers than other imputation methods.

In [17]:
doc2['age'].fillna(mean_age,inplace=True)
doc2['age']=doc2['age'].round()

As Age usually is in interger format not float or decimal so let's keep it that way.

In [18]:
doc2['age'] = doc2['age'].astype(int)
doc2['age']

0     44
1     66
2     39
3     64
4     25
5     44
6     21
7     44
8     35
9     22
10    55
11    44
12    39
13    25
14    66
15    44
16    19
17    39
18    35
19    32
20    39
21    35
22    19
23    39
24    13
25    55
26    39
27    52
28    39
Name: age, dtype: int64

In [19]:
#cleaning the salary column
doc2['salary']=doc2["salary"].apply(lambda x:x.replace('$',' '))
doc2['salary']=doc2['salary'].apply(lambda y:y.replace('k','000'))
doc2['salary_low']=doc2['salary'].str.split('-',expand=True).get(0)
doc2['salary_high']=doc2['salary'].str.split('-',expand=True).get(1)
doc2['salary']=doc2["salary"].apply(lambda x:x.replace('-',' -'))
doc2.rename(columns={'salary': 'salary_range'}, inplace=True)
doc2.head(3)

,age,salary_range,rating,location,established,easy_apply,salary_low,salary_high
0,44,44000 - 99000,5.4,"India,In",1999,TRUE,44000,99000
1,66,55000 - 66000,3.5,"New York,Ny",2002,TRUE,55000,66000
2,39,77000 - 89000,-1.0,"New York,Ny",-1,-1,77000,89000

In [20]:
for x in doc2.index:
  if doc2.loc[x,"rating"]==-1.0:
    doc2.loc[x,"rating"]=1.0
doc2.loc[26,'rating']=round(doc2['rating'].mean(),1)
doc2['rating']

0     5.4
1     3.5
2     1.0
3     4.4
4     6.4
5     1.4
6     0.0
7     1.0
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13    1.0
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24    1.0
25    0.0
26    3.8
27    5.4
28    3.4
Name: rating, dtype: float64

As Rating can't be in negative as it ranges from 0 to 10.

In [21]:
doc2['rating'].max()

7.8

As the locations are mentioned as country thus abv is not important.

In [22]:
for y in doc2.index:
  if doc2.loc[y,'location']=='India,In':
    doc2.loc[y,'location']='India'
  elif doc2.loc[y,'location']=='New York,Ny':
    doc2.loc[y,'location']='New York'
  else:
    doc2.loc[y,'location']='Australia'
doc2['location']

0         India
1      New York
2      New York
3     Australia
4     Australia
5         India
6      New York
7     Australia
8      New York
9         India
10        India
11        India
12        India
13    Australia
14    Australia
15    Australia
16        India
17     New York
18     New York
19     New York
20     New York
21     New York
22     New York
23     New York
24     New York
25    Australia
26        India
27        India
28    Australia
Name: location, dtype: object

In [ ]:
print(doc2['established'].skew())

-0.8061295694835467

As the data set is skewed towards left. Thus using the most frequent year to replace the null value. To not change the shape of the data.

In [23]:
freq_year = doc2['established'].mode()

In [24]:
doc2['established']

0     1999
1     2002
2       -1
3     1988
4     2002
5     1999
6       -1
7       -1
8       -1
9       -1
10    2008
11    2009
12    1999
13    2019
14    2020
15    1999
16    1984
17    1943
18    1954
19    1955
20    1944
21    1946
22    1988
23    1999
24    1987
25    1980
26    1934
27    1935
28    1932
Name: established, dtype: int64

In [25]:
for x in doc2.index:
  if doc2.loc[x,'established']==-1:
    doc2.loc[x,'established']="Unknown"
doc2['established']

0        1999
1        2002
2     Unknown
3        1988
4        2002
5        1999
6     Unknown
7     Unknown
8     Unknown
9     Unknown
10       2008
11       2009
12       1999
13       2019
14       2020
15       1999
16       1984
17       1943
18       1954
19       1955
20       1944
21       1946
22       1988
23       1999
24       1987
25       1980
26       1934
27       1935
28       1932
Name: established, dtype: object

In [26]:
for z in doc2.index:
  if doc2.loc[z,'easy_apply']=='-1':
    doc2.loc[z,'easy_apply']='False'
  else:
    doc2.loc[z,'easy_apply']='True'

In [27]:
doc2['easy_apply']

0      True
1      True
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9      True
10     True
11    False
12    False
13     True
14     True
15    False
16    False
17     True
18     True
19     True
20     True
21    False
22     True
23     True
24    False
25     True
26     True
27    False
28    False
Name: easy_apply, dtype: object

In [28]:
print(doc2)

    age     salary_range  rating   location established easy_apply salary_low  \
0    44    44000 - 99000     5.4      India        1999       True      44000
1    66    55000 - 66000     3.5   New York        2002       True      55000
2    39    77000 - 89000     1.0   New York     Unknown      False      77000
3    64    44000 - 99000     4.4  Australia        1988      False      44000
4    25    44000 - 99000     6.4  Australia        2002      False      44000
5    44    77000 - 89000     1.4      India        1999       True      77000
6    21    44000 - 99000     0.0   New York     Unknown      False      44000
7    44    44000 - 99000     1.0  Australia     Unknown      False      44000
8    35    44000 - 99000     5.4   New York     Unknown      False      44000
9    22    44000 - 99000     7.7      India     Unknown       True      44000
10   55    10000 - 49000     5.4      India        2008       True      10000
11   44    10000 - 49000     6.7      India        2009      False      10000
12   39    44000 - 99000     0.0      India        1999      False      44000
13   25    44000 - 99000     1.0  Australia        2019       True      44000
14   66    44000 - 99000     4.0  Australia        2020       True      44000
15   44   88000 - 101000     3.0  Australia        1999      False      88000
16   19    19000 - 40000     4.5      India        1984      False      19000
17   39    44000 - 99000     5.3   New York        1943       True      44000
18   35    44000 - 99000     6.7   New York        1954       True      44000
19   32    44000 - 99000     3.3   New York        1955       True      44000
20   39    44000 - 99000     5.7   New York        1944       True      44000
21   35    44000 - 99000     5.0   New York        1946      False      44000
22   19    55000 - 66000     7.8   New York        1988       True      55000
23   39    44000 - 99000     2.4   New York        1999       True      44000
24   13    44000 - 99000     1.0   New York        1987      False      44000
25   55    44000 - 99000     0.0  Australia        1980       True      44000
26   39    55000 - 66000     3.8      India        1934       True      55000
27   52    44000 - 99000     5.4      India        1935      False      44000
28   39    39000 - 88000     3.4  Australia        1932      False      39000

   salary_high
0        99000
1        66000
2        89000
3        99000
4        99000
5        89000
6        99000
7        99000
8        99000
9        99000
10       49000
11       49000
12       99000
13       99000
14       99000
15      101000
16       40000
17       99000
18       99000
19       99000
20       99000
21       99000
22       66000
23       99000
24       99000
25       99000
26       66000
27       99000
28       88000

Hence the data is cleaned!

#Q&A

###Question: Are there any missing values in the dataset, and if so, how should they be handled for each indicator?

In [29]:
print(doc.isnull())

    index    age  salary  rating  location  established  easy_apply
0   False  False   False   False     False        False       False
1   False  False   False   False     False        False       False
2   False   True   False   False     False        False       False
3   False  False   False   False     False        False       False
4   False  False   False   False     False        False       False
5   False  False   False   False     False        False       False
6   False  False   False   False     False        False       False
7   False  False   False   False     False        False       False
8   False  False   False   False     False        False       False
9   False  False   False   False     False        False       False
10  False  False   False   False     False        False       False
11  False  False   False   False     False        False       False
12  False   True   False   False     False        False       False
13  False  False   False   False     False        False       False
14  False  False   False   False     False        False       False
15  False  False   False   False     False        False       False
16  False  False   False   False     False        False       False
17  False   True   False   False     False        False       False
18  False  False   False   False     False        False       False
19  False  False   False   False     False        False       False
20  False   True   False   False     False        False       False
21  False  False   False   False     False        False       False
22  False  False   False   False     False        False       False
23  False   True   False   False     False        False       False
24  False  False   False   False     False        False       False
25  False  False   False   False     False        False       False
26  False   True   False    True     False        False       False
27  False  False   False   False     False        False       False
28  False   True   False   False     False        False       False

So for all the true values, the data is missing. Depending on the indicators(columns) one can either replace data by central tendencies. As the data set is small, dropping the rows with missing data might not be a good way to proceed.

###Question: What are the data types of each indicator, and do they align with their expected types (e.g., numerical, categorical)?

In [31]:
doc.dtypes
doc2.dtypes

age               int64
salary_range     object
rating          float64
location         object
established      object
easy_apply       object
salary_low       object
salary_high      object
dtype: object

Age, Rating, Year of Establish are numerial(float/int). Salary is Categorical and Easy Apply is Boolean.

###Question: Identify potential outliers in numerical indicators (e.g., Age, Salary, Rating). Should outliers be removed or adjusted?

No there were no Outliers in any indicators.

#**Part-2**

#Importing the TSV file

In [ ]:
doc_path = "/content/gdrive/My Drive/python_docs/chipotle.tsv"
chip = pd.read_csv(doc_path,sep='\t')
chip.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
chip.tail(10)

,order_id,quantity,item_name,choice_description,item_price
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
chip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

##So as we can see the column Choice_description has null values.

In [ ]:
#Modifying price to remove the dollar sign and converting to float for better operations.
chip['item_price']=chip['item_price'].apply(lambda x:x.replace('$',''))
chip['item_price']=chip['item_price'].astype(float)
chip['item_price'].sample(5)

3867     3.99
3232     2.95
4147    11.75
43      11.75
3908    10.98
Name: item_price, dtype: float64

In [ ]:
#chip['choice_description'].head(30)
#print(chip.loc[chip.isnull().any(axis=1)])
chip['choice_description']=chip['choice_description'].fillna('Unknown')

In [ ]:
chip['choice_description']

0                                                 Unknown
1                                            [Clementine]
2                                                 [Apple]
3                                                 Unknown
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object

Adding a Revenue Column

In [ ]:
chip['revenue']=chip['item_price']*chip['quantity']
chip.sample(5)

,order_id,quantity,item_name,choice_description,item_price,revenue
921,380,1,Chips,Unknown,2.15,2.15
4601,1827,1,Canned Soft Drink,[Diet Coke],1.25,1.25
591,243,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, So...",22.50,45.00
3412,1369,1,Veggie Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
2601,1032,1,Canned Soft Drink,[Diet Coke],1.25,1.25

####How much was the revenue for the period in the dataset?

In [ ]:
total_revenue=chip['revenue'].sum()
print('$',total_revenue)

$ 38914.11

####Quantity of each item

In [ ]:
chip.groupby('item_name')['quantity'].sum()

item_name
6 Pack Soft Drink                         55
Barbacoa Bowl                             65
Barbacoa Burrito                          90
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                        9
Barbacoa Soft Tacos                       25
Bottled Water                            204
Bowl                                       4
Burrito                                    6
Canned Soda                              124
Canned Soft Drink                        340
Carnitas Bowl                             71
Carnitas Burrito                          60
Carnitas Crispy Tacos                      8
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             752
Chicken Burrito                          584
Chicken Crispy Tacos                      50
Chicken Salad                              9
Chicken Salad Bowl                       123
Chicken Soft Tacos                       116
Chips                                    227
Chips and Fresh Tomato Salsa             130
Chips and Guacamole                      501
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        23
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     45
Chips and Tomatillo Red Chili Salsa       48
Chips and Tomatillo-Green Chili Salsa     33
Chips and Tomatillo-Red Chili Salsa       24
Crispy Tacos                               2
Izze                                      19
Nantucket Nectar                          29
Salad                                      2
Side of Chips                            110
Steak Bowl                               220
Steak Burrito                            383
Steak Crispy Tacos                        36
Steak Salad                                4
Steak Salad Bowl                          31
Steak Soft Tacos                          56
Veggie Bowl                               87
Veggie Burrito                            97
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          8
Name: quantity, dtype: int64

####What was the most ordered item in the **choice_description** column

In [ ]:
most_chosen=chip.groupby('choice_description')['quantity'].sum().sort_values(ascending=False).head(2)
print(most_chosen)

choice_description
Unknown        1364
[Diet Coke]     158
Name: quantity, dtype: int64

####How many items were ordered in total?

In [ ]:
chip['item_name'].count()

4563

####How many orders were made in the period?

In [ ]:
chip['order_id'].nunique()

1834

####What is the average revenue amount per order?

In [ ]:
total_orders=chip['order_id'].count()
avg_revenue=round(total_revenue/total_orders,2)
print('$',avg_revenue)

$ 8.53

####How many different items are sold?

In [ ]:
chip['item_name'].nunique()

50

##Thank You!